* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: rgb(4, 4, 122);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  color: white;
}

ul {
  list-style-type: none;
}
