---
// const response = await fetch("https://pokeapi.co/api/v2/pokemon/ditto");
// const data = await response.json();
// const randomUser = data;

import { data } from "../database/database";
import Card from "./Card.astro";
---

<template id="template-li">
  <ul>
    <li>
      <Card />
    </li>
  </ul>;
</template>

<!-- {
  data.map((item) => {
    return (
      <li class="list">
        <img src={item.img} alt="image" />{" "}
      </li>
    );
  })
} -->
