---
// const response = await fetch("https://pokeapi.co/api/v2/pokemon/ditto");
// const data = await response.json();
// const randomUser = data;

import { lista, template } from "../pages/app";
import Card from "./Card.astro";
---

<div id="template-li">
  <ul id="lista">
    <li>
      <Card />
    </li>
  </ul>;
</div>

<!-- {
  data.map((item) => {
    return (
      <li class="list">
        <img src={item.img} alt="image" />{" "}
      </li>
    );
  })
} -->
