---
// const response = await fetch("https://pokeapi.co/api/v2/pokemon/ditto");
// const data = await response.json();
// const randomUser = data;

import { data } from "../database/database";
---

<div id="template-li">
  <ul>
    {
      data.map((item) => {
        return (
          <li class="list">
            <img src={item.img} alt="image" />{" "}
          </li>
        );
      })
    }
  </ul>;
</div>
